<div class="homepage">
    <div>
      {{#if logged_in}}
          <h2 class="char-header">Characters:</h2>
          {{#each character as |character| }}
              <div class="char-result flex-row col-md-6 justify-space-between">
                <a href="/character/{{character.id}}">{{character.name}}</a>
              </div>
          {{/each}}
      {{/if}}
    </div>
